# Specify intentionally untracked files to ignore

# API tokens and psql password
secrets.py

# Byte-compiled
__pycache__/

# Data
data/

# Database
tweets.db

# Jupyter Notebook
.ipynb_checkpoints
notebook_archive/

# PDFs
writeups/*.pdf

# SSH keys
*.pem
